.content{
    position: relative;
    display: flex;
    width: 100%;
    min-height: 97vh;
    padding: 15vh 9.5vw;
    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    -ms-box-sizing:     border-box;
    -o-box-sizing:      border-box;
    box-sizing:         border-box;
}

@media (max-width: 40em) {
    .content {
        padding: 15vh 5vw;
    }
}