.button{
    background-color: transparent;
    border: 2px solid var(--primary-color);
    border-top-left-radius: 30px 30px;
    border-bottom-left-radius: 30px 30px;
    border-top-right-radius: 30px 30px;
    border-bottom-right-radius: 30px 30px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.button:hover{
    background-color: var(--primary-color);
}

.button:hover > p{
    color: var(--background-color );
}