.project {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}

.project img {
    width: 100%;
}

.specifications{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 8%;
}

.content {
    padding: 20px 0px 20px 0px
}

.specifications div:first-child p {
    color: var(--secondary-color);
}

@media (max-width: 40em) {
    .project {
        width: 100%;
    }
}