.project {
    border: 1px solid #ffffff;
    border-radius: 10px;
    max-width: 25vw;
    transition: all 0.2s;
}

.project:hover {
    filter: brightness(0.5);
}

.project img{
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.projectInfos{
    padding: 10px 15px;
}

.projectType {
    color: var(--secondary-color);
    font-size: 1.3rem;
}

.projectTitle{
    color: var(--primary-color);
    font-size: 2rem;
    margin: 0;
}

.link{
    text-decoration: none;
}