.header{
    position: absolute;
    left: 0;
    right: 0;
    padding: 6vh 10vw;
    z-index: 100;
    display: flex;
    justify-content: space-between;
}

.header .link{
    color: var(--primary-color);
    text-decoration: none;
    font-size: 2.5vh;
    vertical-align: text-top;
}