.contact{
    width: 100%;
    padding: 0px;
}

.contact p{
    font-size: 1.4vw;
}

.buttons div {
    display: flex;
    justify-content: center;
}

.buttons div a {
    padding: 0.5rem;
}

.line {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 3vh 0vw;
}

.socials{
    padding-top: 5vh;
    display: flex;
    width: min-content;
    margin-left: auto;
    margin-right: auto;
}

.socials a svg {
    height: 10vh;
}

.socials a svg path{
    transition: 0.2s ease-in-out;
    fill: var(--primary-color);
}

.github:hover > path {
    fill: #000000;
}

.linkedin:hover > path {
    fill: #0682bd;
}

.youtube:hover > path {
    fill: #fe0000;
}

.instagram:hover path {
    fill : #fe056b
}

.twitter:hover path {
    fill : #249ff1
}