.summary{
    width: 100%;
    padding: 0px;
}

.list{
    padding-top: 5vh;
    padding-left: 8%;
}

.link{
    text-decoration: none;
}


.link p{
    font-size: 6vh;
    margin: 0;
    color: var(--primary-color);
    position: relative;
    width: min-content;
}

.link p::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 100%;
    z-index: -1;
}

.link p:hover:before {
    animation: 0.5s ease-in-out borderBottom forwards;
    border-bottom: solid 2px var(--primary-color);
}

@keyframes borderBottom {
    0%    {width:0%;   height:100%}
    100%  {width:100%; height:100%}
}

.link p .number{
    font-size: 3vh;
    margin-right: 1.3vw;
    color: var(--secondary-color);
}