body{
  --background-color : #31323A;
  --primary-color : #FFFFFF;
  --secondary-color : #A8AFCD;

  background-color: var(--background-color);
  color: var(--primary-color);
  font-family: 'Baloo Bhai 2';
}

