.line{
    height: 1px;
    border-bottom: solid 2px var(--primary-color);
    animation: 1s ease-out 0s 1 borderBottom forwards;
    z-index: -1;
    width: 0px;
}
    
@keyframes borderBottom {
    0%    {width:0%}
    100%  {width:100%}
}